* {
  box-sizing: border-box;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.container{
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 20px;
transform: translateY(60px);
margin-left:20px;
}
.tenzies{
  margin-bottom: 15px;
  font-weight: 600;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  border:none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 50px;
  width: 50px;
}

.Submit{
  background-color: #5035FF;
  width: 92.15999603271484px;
  height: 35.84000015258789px;
  border-radius: 3.81px;
  color:white;
  margin-left: 155px;
  transform: translateY(80px);
  border:none;
  font-size: 1rem;
  font-weight: 600;
  cursor:pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.title{
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  transform: translateY(30px);
}
.description{
  display: flex;
  text-align: center;
  transform: translateY(30px);
}